<div style="font-size: 14px; line-height: 24px; color: #333; font-family: sans-serif;">
  <p>Fala {{name}}, beleza</p>
  <p> Voce acabou de criar sua conta no ElvesTweet com o usuario {{username}}</p>
  <p>
    Vemo-nos lรก
    <strong>No team da ElvesTwet </strong>
  </p>
</div>
